{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="banner">
    <img src="{% static 'images/pexels-pavel-danilyuk-7937739.jpg' %}" alt="Welcome message">
</div>
<div class="content" id="main-content">
    <h2>Welcome</h2>
    <p>Designing bespoke homes for modern living</p>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        window.addEventListener('scroll', function() {
            const content = document.getElementById('main-content');
            const contentPosition = content.getBoundingClientRect().top;
            const screenPosition = window.innerHeight;

            // Check if the content is in the viewport
            if (contentPosition < screenPosition) {
                setTimeout(() => {
                    content.classList.add('visible');
                }, 900); // Delay in milliseconds
            }
        });
    });
</script>
{% endblock %}

