{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="banner">
    <img src="{% static 'images/pexels-pavel-danilyuk-7937739.jpg' %}" alt="Welcome message">
</div>
<div class="banner-text" id="banner-text">
    <h2>Designing bespoke homes for modern living</h2>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Add the effect for the banner text
        setTimeout(() => {
            const bannerText = document.getElementById('banner-text');
            bannerText.classList.add('visible');
        }, 600); // Delay for banner-text in milliseconds (adjust as needed)
    });
</script>
{% endblock %}
