{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="banner">
    <img src="{% static 'images/pexels-pavel-danilyuk-7937739.jpg' %}" alt="Welcome message">
</div>
<div class="content">
    <h2>Main content</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, laborum ab! Deleniti reiciendis sapiente enim quo deserunt vero, debitis labore perspiciatis quas similique vel repellendus optio, sit non accusantium eos.</p>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $(window).scroll(function(){
        $(".banner-text").css("opacity", 1 - $(window).scrollTop() / 250);
    });
</script>
{% endblock %}
