{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/projects.css' %}">
{% endblock %}

{% block content %}
<div class="gallery">
    <h1>Gallery</h1>
    <div class="image-grid">
        <div class="image-item">
            <img src="{% static 'images/pexels-aaron-cook-817377601-19277901.jpg' %}" alt="Description of the image 1">
        </div>
        <div class="image-item">
            <img src="{% static 'images/pexels-dada-_design-240566386-12277295.jpg' %}" alt="Description of the image 2">
        </div>
        <div class="image-item">
            <img src="{% static 'images/pexels-falling4utah-1080721.jpg' %}" alt="Description of the image 3">
        </div>
        <div class="image-item">
            <img src="{% static 'images/pexels-aaron-cook-817377601-19277901.jpg' %}" alt="Description of the image 4">
        </div>
        <div class="image-item">
            <img src="{% static 'images/pexels-itsterrymag-3623785.jpg' %}" alt="Description of the image 5">
        </div>
        <div class="image-item">
            <img src="{% static 'images/pexels-lexovertoom-1109541.jpg' %}" alt="Description of the image 6">
        </div>
        <div class="image-item">
            <img src="{% static 'images/pexels-aaron-cook-817377601-19277901.jpg' %}" alt="Description of the image 7">
        </div>
        <div class="image-item">
            <img src="{% static 'images/pexels-jeshoots-com-147458-834892.jpg' %}" alt="Description of the image 8">
        </div>
    </div>

    <div class="image-grid">
        <div class="image-item">
            <img src="{% static 'images/pexels-aaron-cook-817377601-19277901.jpg' %}" alt="Description of the image 1">
        </div>
        <div class="image-item">
            <img src="{% static 'images/pexels-dada-_design-240566386-12277295.jpg' %}" alt="Description of the image 2">
        </div>
        <div class="image-item">
            <img src="{% static 'images/pexels-falling4utah-1080721.jpg' %}" alt="Description of the image 3">
        </div>
        <div class="image-item">
            <img src="{% static 'images/pexels-aaron-cook-817377601-19277901.jpg' %}" alt="Description of the image 4">
        </div>
        <div class="image-item">
            <img src="{% static 'images/pexels-itsterrymag-3623785.jpg' %}" alt="Description of the image 5">
        </div>
        <div class="image-item">
            <img src="{% static 'images/pexels-lexovertoom-1109541.jpg' %}" alt="Description of the image 6">
        </div>
        <div class="image-item">
            <img src="{% static 'images/pexels-aaron-cook-817377601-19277901.jpg' %}" alt="Description of the image 7">
        </div>
        <div class="image-item">
            <img src="{% static 'images/pexels-jeshoots-com-147458-834892.jpg' %}" alt="Description of the image 8">
        </div>
    </div>  
{% endblock %}
