body {
    margin: 0;
    height: 1000px;
    font-family: Poppins, sans-serif; /* Ensure correct font-family */
}

.banner {
    position: relative;
    margin-top: 70px;
    margin-bottom: 70px;    
    width: 100%;
    height: 90vh; /* Set height of the banner */
    opacity: 1;
    text-align: center;    
    font-size: 50px;
    font-weight: bold;
    color: #fefefe;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.banner img {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    object-fit: cover; /* Cover the banner area */
    display: block; /* Prevent bottom whitespace on image */
}


.content {
    margin: 0;
    width: 100%; /* Full width */
    margin: auto;
    text-align: center;
    opacity: 0; /* Initially hidden */
    transform: translateY(5px); /* Slightly move down */
    transition: opacity 4s ease-in-out, transform 0.5s ease-in-out; /* Smooth transition */
}

.content h2 {
    font-size: 50px;
}

.content.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move back to original position */
    margin-bottom: 100px;
    text-align: center;
}

p {
    width: 80%; /* Keep this to control the width */
    margin: 0 auto; /* Center it horizontally */
    text-align: center; /* Center text inside the paragraph */
}