{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{% block title %}Kashmir Restaurant{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> <!-- Load jQuery -->

    {% block styles %}{% endblock %}
</head>
<body>
    <div class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-lg navbar-section">
            <div class="container-fluid d-flex align-items-center">
                <!-- Navbar Brand -->
                <a class="navbar-brand" href="#">
                    <img src="{% static 'images/westside-projects-high-resolution-logo-transparent.png' %}" alt="Logo" height="40">
                    
                </a>
                <!-- Navbar toggler for mobile -->
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navbar Links -->
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                        <div class="navbar-nav mx-auto">
                            <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="#">Home</a>
            <!-- Dropdown for Menu -->
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if '/menu/' in request.path %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Menu
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item {% if '/starters/' in request.path %}active{% endif %}" href="#">Starters</a></li>
                    <li><a class="dropdown-item {% if '/mains/' in request.path %}active{% endif %}" href="#">Mains</a></li>
                    <li><a class="dropdown-item {% if '/desserts/' in request.path %}active{% endif %}" href="#">Desserts</a></li>
                    <li><a class="dropdown-item {% if '/drinks/' in request.path %}active{% endif %}" href="#">Drinks</a></li>
                </ul>
            </div>
                            <a class="nav-link {% if '/gallery/' in request.path %}active{% endif %}" href="#">Gallery</a>
                            <a class="nav-link {% if '/about-us/' in request.path %}active{% endif %}" href="#">About Us</a>
                            <a class="nav-link {% if '/contact/' in request.path %}active{% endif %}" href="#">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        {% if messages %}
            <div class="messages text-center">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <main class="main-body">
            {% block content %}
            {% endblock %}
        </main>

        <footer class="footer-center py-3">
            <div class="container d-flex flex-column align-items-center justify-content-center">
                <div class="footer-logo">
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'images/westside-projects-high-resolution-logo-transparent.png' %}" alt="Logo" height="80">
                    </a>
                </div>
                <div class="social-icons mt-3">
                    <a href="https://www.instagram.com/" class="me-3"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.facebook.com/" class="me-3"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.google.com/maps/dir//33+Wine+St,+Bristol+BS1+2BQ/@51.4556213,-2.6735896,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x48718e7742a2b1bf:0x2bee816e8e346c4d!2m2!1d-2.5911894!2d51.4556502?entry=ttu"><i class="fas fa-map-marker-alt" style="color: #c9ac35;"></i></a>
                </div>
            </div>
        </footer>
        

        <script src="https://kit.fontawesome.com/8f470d4365.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </div>
</body>
</html>